* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.cabecalho{

    background-color: aqua;
    margin-left: -149px;
    width: 206vh;
    height: 65px;
    position: relative;
    top: -330px;
}


.txt1{

    position: relative;
    top: 29px;
    font-size: 24px;
    margin-left: -830px;
}

.inptt{

    margin-left: 1000px;
    width: 250px;
    position: relative;
    top: 0px;
    height: 25px;
}

.img-cabecalho{

    position: relative;
    top: -26px;
    margin-right: 1340px;
    
}

.img-lupa{

    position: relative;
    top: -60px;
    margin-left: 47vw;

}

.img-engrenagem{


    position: relative;
    top: -85px;
    margin-left: 85vw;

}

.img-pessoas{

position: relative;
top: -115px;
width: 20px;
margin-left: 90vw;

}

.quadrado-left{

    background-color: aqua;
    margin-left: -150px;
    width: 100px;
}