.inferior-esquerda {
    /* background-color: brown; */
    width: 20%;
    height: 100%;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.botao-new-note {
    background-color: #335CFF;
    color: white;
    font-family: Inter;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 10px;


}

.nota-incluida {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    animation-name: show-up;
    animation-duration: 1s;

}

    .nota-incluida img {
        width: 18%;
        margin: 10px;
    }

    .inf-tag {
        font-family: Inter;
        font-size: 12px;
        margin-left: 10px;
    }


    .tags-notas {
        display: flex;
    }

    .tag1 {
        background-color: #E0E4EA;
        margin-right: 5px;
    }

    /* animação */

    @keyframes show-up {

        0% {

            opacity: 0;
            transform: translateX(100px);
        }

        80% {
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }